.rodape {
    width: 100%;
    height: 70px;
    border-radius: 10px 10px 0 0;
    align-items: center;
    text-align: center;
}

.rodape p {
    position: relative;
    top: 40%;
}

.light-rodape {
    border-top: 2px solid rgb(110, 196, 253);
    /* border-left: 2px solid rgb(110, 196, 253);
    border-right: 2px solid rgb(110, 196, 253);  */
}
.dark-rodape {
    border-top: 2px solid purple;
    /* border-left: 2px solid purple;
    border-right: 2px solid purple;  */
}