* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(114, 114, 114);
    overflow-x: none;
}

.dark-corpo {
    background-color: rgb(145, 145, 145);
}


body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background: #fafafa;
}

body::-webkit-scrollbar-thumb {
    background: #f74e4e;
    border-radius: 20px;
}

.dark-corpo::-webkit-scrollbar-track {
    background: #141414;
}

.dark-corpo::-webkit-scrollbar-thumb {
    background: #d41c1c;
}

.container-principal {
    overflow-x: none;
    width: 90%;
    margin: auto;
    box-shadow: 5px 0 12px 0 rgba(0, 0, 0, 0.068), -5px 0 12px 0 rgba(0, 0, 0, 0.068);
}
.light-principal {
    background-color: #fafafa;
}
.dark-principal {
    background-color: #141414;
    color: #fafafa;
}

.conteudo {
    width: 80%;
    margin: auto;
}



.light-bordaAzul {
    border: 2px solid rgba(11, 162, 221, 0);
}
.light-bordaAzul:hover {
    cursor: pointer;
    border: 2px solid #f74e4e;
}

.dark-bordaAzul {
    border: 2px solid rgba(128, 0, 128, 0);
}
.dark-bordaAzul:hover {
    border: 2px solid #d41c1c;
}

.arredondar {
    border-radius: 70px;
}


/* bordas - modo dark e light */
.light-border {
    border: 2px solid #f74e4e;
}

.dark-border {
border: 2px solid #d41c1c;
}

.light-bottom {
    border-bottom: 2px solid #f74e4e;
}

.dark-bottom {
    border-bottom: 2px solid #d41c1c;
}

.light-right {
    border-right: 2px solid #f74e4e;
}

.dark-right {
    border-right: 2px solid #d41c1c;
}

.light-left {
    border-left: 2px solid #f74e4e;
}

.dark-left {
    border-left: 2px solid #d41c1c;
}

.light-top {
    border-top: 2px solid #f74e4e;
}

.dark-top {
    border-top: 2px solid #d41c1c;
}