@media (max-width: 1035px) {
    .imc-sobre {
        font-size: 18px;
    }

    .entrada-dados {
        width: 90%;
    }

    .btn-calcular {
        width: 80%;
    }
}

@media (max-width: 920px) {
    #buscar {
        width: 350px;
    }

    .arredondar {
        width: 80px;
        height: 80px;
    }

    p, h2, h3{
        font-size: 18px;
    }
    .cadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #email {
        margin-top: 10px;
        width: 80%;
    }

    #btn-email {
        padding: 10px;
        width: 40%;
    }

    .imc {
        grid-column: 1/4;
        border: none;
    }

    .imc-sobre {
        grid-row: 2/3;
        grid-column: 1/4;
    }

    .entrada-dados {
        width: 50%;
    }

    .btn-calcular {
        padding: 10px;
        width: 40%;
    }
}

@media (max-width: 825px) {
    .container-funcoes p {
        font-size: 15px;
    }

    .container-imc {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .imc-sobre {
        padding: 20px;
    }

    .cadastro {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .empresas {
        max-width: 850px;
        position: relative;
        height: 60px;
        overflow-x: scroll;
        overflow-y: hidden;
        max-height: 50px;
    }

    .container-empresas {
        position: relative;
        height:50px;
        width: 700px;
        max-height: 50px;
    }
    div img {
        position: relative;
        font-size: 12px;
        color: black;
        width: 170px;
        height: 50px;
        float: left;
        opacity: .9;
    }
}

@media (max-width: 750px){
    #mode {
        border-radius: 10px 0 0 10px;
        width: 35px;
        height: 35px;
        position: fixed;
        top: 15%;
        left: 89.8%;
        z-index: 999;
    }

    .light-mode {
        background-color: #ffe0ea;
    }

    .dark-mode {
        background-color: #535353;
    }

    .icon-mode {
        font-size: 15px;
    }

    p, h2, h3{
        font-size: 12px;
    }

    .cadastro-titulo {
        font-size: 14px;
    }

    #buscar {
        margin-right: 30px;
    }

    .arredondar {
        width: 60px;
        height: 60px;
    }

    .empresas {
        max-width: 800px;
    }

    .container-empresas {
        width: 500px;
        
    }

    .entrada-dados {
        width: 70%;
    }

    .btn-calcular {
        width: 60%;
    }
}

@media (max-width: 700px) {
    .container-principal {
        width: 100%;
    }

    #mode {
       
        position: fixed;
        left: 94.4%;
        z-index: 999;
    }

    .arredondar {
        width: 55px;
        height: 55px;
    }

    .empresas {
        padding: 20px 0;
        margin-top: 10px;
    }

    p, h2, h3{
        font-size: 14px;
    }

    .btn-calcular {
        padding: 10px;
    }
}

@media(max-width: 640px) {
    #mode {
        left: 94.1%;
    }

    .container-logo {
        margin-left: 0;
        margin-right: 20px;
    }

    #buscar {
        margin-right: 8px;
        
    }

    .btn-calcular {
        padding: 15px;
    }
    #btn-email {
        padding: 15px;
    }
}

@media (max-width: 420px) {  
    
    #btn-email {
        padding: 8px;
        width: 40%;
        font-size: 10px;
    }

    .btn-calcular {
        padding: 8px;
    }

    #mode {
        width: 30px;
        height: 30px;
        left: 92%;
        border: none;
    }

    .icon-mode {
        font-size: 12px;
    }

    .funcionalidades .container-funcoes + .container-funcoes {
        margin-left: 8px;
    }

    .container-funcoes p {
        font-size: 12px;
    }

    .container-logo {
        margin-left: 0;
        margin-right: 20px;
    }

    #buscar {
        margin-right: 5px;
        width: 170px;
    }
}

@media (max-width: 290px) {
    .container-principal {
        width: 100%;
    }
}