.container-imc {
    margin-top: 70px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}


.imc h2 {
    margin-bottom: 20px;
}


.imc-sobre {
    max-height: 250px;
    border-radius: 10px;
    margin: 0 10px 10px;
    padding: 50px;
    text-align: justify;
    font-size: 20px;
    font-weight: 700;
}

.light-imcSobre {
    background-color: #f74e4e;
}
.dark-imcSobre {
    background-color: #d41c1c;
}

.indice {
    margin-bottom: 50px;
}




.entrada-dados {
    width: 50%;
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 25px;
}

.light-entradaDados {
    border: 2px solid #f74e4e;
    background-color: #FDFAFB;
    color: #141414;
}

.dark-entradaDados {
    background-color: #141414;
    border: 2px solid #d41c1c;
    color: #FDFAFB;
} 

.dark-entradaDados::placeholder {
    color: #FDFAFB;
}


.btn-calcular {
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
    width: 40%;
    font-weight: 700;
}

.btn-calcular:hover {
    cursor: pointer;
    font-weight: 700;
}

.light-btnCalcular {
    border: 2px solid #f74e4e;
    background-color: #FDFAFB;
    color: #555555;
}
.light-btnCalcular:hover {
    background-color: #f74e4e;
    color: #FDFAFB;
}

.dark-btnCalcular {
    border: 2px solid #d41c1c;
    background-color: #141414;
    color: #FDFAFB;
}
.dark-btnCalcular:hover {
    background-color: #d41c1c;
    color: #141414;
    font-weight: 700;
}


.container-resultadoImc {
    border-radius: 10px;
    margin-top: 50px;
    padding: 10px;
    display: none;
}

.resultadoImc-light {
    background-color: #f74e4e;
    /* display: block; */
}

.resultadoImc-dark {
    background-color: #d41c1c;
    display: block;
}


.resultado-imc {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.minmax-imc {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
}

.tipo-peso {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.texto-de-atencao {
    font-weight: bold;
}

.observacao {

}