* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(230, 230, 230);
}


.borda-título {
    border-bottom: 1px solid rgba(128, 128, 128, 0.37);
}


.container-principal {
    background-color: #ffffff;
    width: 100%;
    margin: auto;
    box-shadow: 5px 0 12px 0 rgba(0, 0, 0, 0.068), -5px 0 12px 0 rgba(0, 0, 0, 0.068);
}

.cabecalho {
    background-color: rgb(110, 196, 253);
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 10px 10px;
    box-shadow:0 8px 0 0 rgb(238, 237, 237);
}


.logo {
    height: 50px;
    width: 120px;
    margin-left: 50px;
}

#buscar {
    padding: 5px;
    height: 25px;
    width: 450px;
    border-radius: 15px;
    border: none;
}

#mode {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: none;
    margin-right: 50px;
}



.funcionalidades {
    border-radius: 0 0 10px 10px;
    background-color: rgb(238, 237, 237);
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;    
}

.conteudo {
    width: 80%;
    margin: auto;
}

.container-funcoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container-funcoes:hover {
    color: rgb(110, 196, 253);
    cursor: pointer;
}

.funcionalidades .container-funcoes + .container-funcoes {
    margin-left: 40px;
}

.borda-azul {
    border: 3px solid rgba(11, 162, 221, 0);
}

.borda-azul:hover {
    cursor: pointer;
    border: 3px solid rgb(110, 196, 253);
}

.arredondar {
    border-radius: 70px;
}

.medicamentos {
    width: 100px;
    height: 100px;
}

.posto-de-saude {
    width: 100px;
    height: 100px;
}

.bem-vindo {
    border-radius: 0 0 10px 10px;
    margin-top: 20px;
    text-align: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.37);
    border-left: 1px solid rgba(128, 128, 128, 0.37);
    border-right: 1px solid rgba(128, 128, 128, 0.37);
}

.texto-bemvindo {
    font-size: 30px;
}

.enciclopedia {
    font-size: 20px;
    margin-bottom: 20px;
}

.historico-remedios {
    margin-top: 25px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.37);
}

.container-historico {
    padding: 2px 15px;
    border-radius: 5px 5px 0 0;
    background-color: #ffffff;
    border-left: 1px solid rgba(128, 128, 128, 0.37);
    border-right: 1px solid rgba(128, 128, 128, 0.37);
}

.container-historico:hover {
    cursor: pointer;
    background-color: #ebebeb;
    transition: .5s;
}

.historico-remedios .container-historico + .container-historico {
    margin-left: 20px;
}

.dipirona {
    border-top: 5px solid green;
}
.dorflex {
    border-top: 5px solid purple;
}
.valerimed {
    border-top: 5px solid red;
}
.viagra {
    border-top: 5px solid blue;
}


.empresas {
    padding: 10px 0;
    margin-top: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.37);
    display: flex;
    align-items: center;
    justify-content: center;
}

.empresas img + img {
    margin-left: 50px;
}

.container-imc {
    margin-top: 70px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.imc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-right: 1px solid rgba(128, 128, 128, 0.37);
}

.imc h2 {
    margin-bottom: 20px;
}

.imc-sobre {
    background-color: rgb(110, 196, 253);
    border-radius: 10px;
    margin: 0 10px 10px;
    padding: 50px;
    text-align: justify;
    font-size: 20px;
    font-weight: 700;
}

.indice {
    margin-bottom: 50px;
}

.entrada-dados {
    width: 50%;
    border: 1px solid rgb(110, 196, 253);
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 15px;
}

.btn-calcular {
    padding: 5px;
    border-radius: 20px;
    border: 3px solid rgb(110, 196, 253);
    width: 30%;
    background-color: #ffffff;
    color: #000000;
}

.btn-calcular:hover {
    cursor: pointer;
    background-color: rgb(110, 196, 253);
    color: #ffffff;
}

.sobre {
    margin-top: 20px;
    text-align: justify;
    font-size: 18px;
    font-weight: 400;
}

.cadastro {
    border-radius: 10px 10px 0 0;
    margin-top: 20px;
    background-color: rgb(238, 237, 237);
    padding: 50px;
    /* display: flex;  */
}

.cadastro-titulo {
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 600;
}

.cadastro-subtitulo {
    margin-bottom: 20px;
}

#email {
    margin-top: 20px;
    margin-bottom: 100px;
    width: 30%;
    border: 1px solid rgb(110, 196, 253);
    border-radius: 10px;
    padding: 8px;
}

.rodape {
    background-color: rgb(110, 196, 253);
    width: 100%;
    height: 70px;
    border-radius: 10px 10px 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 -8px 0 0 rgb(238, 237, 237);
}